<!DOCTYPE html>
<html>

  <head>
    <title>Arbitrage bot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../stylesheets/style.css">
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
   
    
  </head>
  <body>
  
  <p class="text-center">arbitrage bot v0.0.8 <span id="serverStatus"></span></p>

<a href ="/logs">logs</a>

	       
      
  </body>
 <script type='text/javascript' src='../scripts/index.js'> </script>
</html>
